.info-box--wraper {
  background-color: var(--orange);
  padding: 40px 100px;
  border-radius: var(--border-radius);
  margin-top: var(--margin-top);
}
.info-box--body {
  background-color: var(--white);
  padding: 30px 120px;
  border-radius: var(--border-radius);
  margin-top: 30px;
}
.info-box--body img {
  height: 380px;
}
.info-box--body p {
  margin-top: 25px;
}

/* TABLET SCREEN */
@media screen and (max-width: 1080px) {
  .info-box--wraper {
    padding: var(--padding-box-tablet);
  }
  .info-box--body{
    padding: 40px 50px;
  }
}

/* PHONE SCREEN */
@media screen and (max-width: 590px) {
  .info-box--wraper {
    padding: 15px 20px;
    margin-top: var(--margin-top-mobile);
  }
  .info-box--body {
    padding: 30px 20px;
    margin-top: var(--margin-top-mobile);
  }

  /* TEXT PHONE*/
  .info-box--wraper h1 {
    letter-spacing: 1px;
    margin-top: 15px;
  }

  /* IMAGE PHONE */
  .info-box--body img {
    height: 250px;
    margin: 0;
  }
}
