.info-box--wraper {
  background-color: var(--orange);
  padding: 40px 100px;
  border-radius: var(--border-radius);
  margin-top: var(--margin-top);
}
.info-box--body {
  background-color: var(--white);
  padding: 30px 120px;
  border-radius: var(--border-radius);
  margin-top: 30px;
}
.info-box--body img {
  height: 380px;
}
.info-box--body p {
  margin-top: 25px;
}

/* TABLET SCREEN */
@media screen and (max-width: 1060px) {
  .info-box--wraper {
    padding: var(--padding-box-tablet);
    margin-top: ;
  }
}
