.explore-info--wraper, .teachers--wraper, .researchers--wraper{
    background-color: var(--pink);
    margin-top: var(--margin-top);
    border-radius: var(--border-radius);
    padding: var(--padding-box);
}

/* PICTURES */
.explore-info--wraper img{
margin-top: var(--margin-top);
height: 400px;
}
.multiple-images{
    display: flex;
}