.get-involved--wraper {
  background-color: var(--green);
  padding: var(--padding-box);
  border-radius: var(--border-radius);
  margin-top: var(--margin-top);
}
.get-involved--inside {
  display: flex;
}
.get-involved--container {
  background-color: var(--white);
  border-radius: var(--border-radius);
  padding: 40px 60px;
  margin-top: var(--margin-top);
}
.get-involved--text p {
  font-size: 17px;
}
.get-involved--text {
  flex: 1.6;
}
.get-involved--container h2 {
  display: flex;
  justify-content: center;
}
.h2--support {
  position: relative;
  right: 10px;
}
.h2--internships {
  position: relative;
  left: 20px;
}
.get-involved--image {
  height: 500px;
  margin-top: 0;
  width: 100%;
  flex: 1;
  margin-right: 50px;
}
.get-involved--image img {
  height: 100%;
  margin-top: 0;
}

/* TABLET SCREEN */
@media screen and (max-width: 1080px) {
  .get-involved--wraper {
    padding: var(--padding-box-tablet);
  }
  .get-involved--inside {
    flex-direction: column;
  }
  /* TEXT TABLET */
  h1 {
    font-size: 45px;
  }
  .get-involved--container h2 {
    font-size: 35px;
  }

  .h2--internships {
    position: relative;
  }
  .get-involved--text p {
    font-size: 20px;
  }
  .get-involved--text {
    margin-top: 30px;
  }
  /* IMAGE TABLET */
  .get-involved--image img {
    height: 450px;
  }
}

/* PHONE SCREEN */
@media screen and (max-width: 480px) {
  .get-involved--wraper {
    padding: 15px 20px;
    margin-top: var(--margin-top-mobile);
  }
  .get-involved--container {
    margin-top: var(--margin-top-mobile);
    padding: 30px 26px;
  }

  /* TEXT PHONE */
  h1 {
    font-size: 29px;
  }
  .get-involved--container h2 {
    font-size: 25px;
  }
  .h2--support {
    position: relative;
    left: 1px;
  }
  .get-involved--text p {
    font-size: 16px;
  }
  .h2--internships {
    left: 0px;
  }
  /* IMAGE PHONE */
  .get-involved--image img {
    height: 250px;
  }
}
