.special-info--wraper {
  background-color: var(--purple);
  border-radius: var(--border-radius);
  padding: var(--padding-box);
  margin-top: var(--margin-top);
}
.special-info--body,
.special-info--body-1 {
  display: flex;
  margin-top: 40px;
}
.special-info--wraper p {
  background-color: var(--white);
  border-radius: var(--border-radius);
  padding: 30px;
  font-size: 22px;
}
.right,
.left,
.right--professor {
  height: 450px;
}
.right img,
.left img,
.right--professor img {
  margin-top: 0;
  width: 400px;
  height: 100%;
}
.right,
.right--professor {
  padding-left: 50px;
}
.left {
  padding-right: 50px;
}

/* TABLET SCREEN */
@media screen and (max-width: 1150px) {
  h1 {
    font-size: 45px;
  }
  p {
    font-size: 20px;
  }
  .special-info--wraper {
    padding: var(--padding-box-tablet);
  }
  .special-info--body {
    flex-direction: column-reverse;
  }
  .special-info--body-1 {
    flex-direction: column;
  }
  .right,
  .left,
  .right--professor {
    padding: 0;
    height: 800px;
  }
  .special-info--wraper p {
    margin-top: var(--margin-top-mobile);
  }
  /* IMAGE TABLET */
  .right img,
  .left img,
  .right--professor img {
    width: 100%;
    height: 100%;
  }
}

/* PHONE SCREEN */
@media screen and (max-width: 450px) {
  .special-info--wraper {
    padding: 15px 15px;
    margin-top: var(--margin-top-mobile);
  }
  .special-info--wraper h1 {
    font-size: 27px;
    margin-top: 15px;
    margin-left: 5px;
    letter-spacing: 1px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 21px;
    margin-bottom: 8px;
  }
  .special-info--wraper p {
    font-size: 10px;
    padding: 25px;
    margin-top: 20px;
  }
  .special-info--body,
  .special-info--body-1 {
    margin-top: 30px;
  }
  /* IMAGE PHONE */
  .right,
  .left,
  .right--professor {
    height: 350px;
  }
}
