* {
  margin: 0;
  padding: 0;
}
:root {
  --pink: #c34881;
  --orange: #be5800;
  --purple: #4962f2;
  --light-blue: #3a79a8;
  --dark-blue: #1b3059;
  --green: #386e01;
  --white: #fff;
  --light-black: #0f0d0d;
  --border-radius: 45px;
  --padding-box: 45px 100px;
  --padding-box-tablet: 40px 45px;
  --padding-box-mobile: 30px 15px 30px 25px;
  --margin-top: 55px;
  --margin-top-mobile: 30px;
  --padding-top-inside: 30px;
  --margin-top-mobile-inside: 20px;
}

h1,
button,
a {
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 5px;
  color: var(--white);
  display: flex;
  justify-content: center;
}
h2 {
  font-family: "Fira Sans", sans-serif;
  font-size: 40px;
  margin-bottom: 30px;
}
h3 {
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
p {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  line-height: 2.2;
  letter-spacing: 1px;
  text-align: justify;
  text-justify: inter-word;
}
a {
  text-decoration: none;
  color: var(--white);
}
/* BUTTONS DESKTOP */
.main-home--buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-home--buttons a:hover {
  background-color: var(--white);
}
.main-home--buttons a {
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 0.5px;
  background-color: #fcd451;
  color: var(--dark-blue);
  border-radius: 30px;
  margin-top: 20px;
  border: 1px solid;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
}
.main-home--buttons .button-1 {
  margin-right: 35px;
  width: 253px;
}
.breadcrumbs {
  margin-top: 30px;
  font-size: 21px;
  letter-spacing: 1px;
  padding: 0px 60px;
}
.breadcrumbs a {
  margin: auto;
  max-width: 1440px;
}
label:hover {
  cursor: pointer;
}
/* LOGO DESKTOP*/
.header--container {
  background-color: var(--light-black);
  padding: 0 60px;
}
.logo--container {
  max-width: 1440px;
  margin: auto;
  padding: 12px 0;
  display: flex;
  align-items: center;
}
.logo a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
}
.logo h1 {
  font-size: 25px;
  font-family: "Ruddy", sans-serif;
  letter-spacing: 3.5px;
}
.header--image-wraper {
  height: 100px;
  margin-right: 20px;
}
.header--image {
  height: 100%;
  width: auto;
  border: 0;
}
/* NAVIGATION BAR DESKTOP*/
.header--navigation {
  background-color: var(--white);
  padding: 0 60px;
}
.header--navigation-items {
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  align-items: center;
}
.header--navigation-items li {
  list-style: none;
  text-align: center;
}
.header--navigation-items a {
  font-size: 23px;
  letter-spacing: 1px;
  font-weight: 700;
}
.header--navigation-items .item-1 {
  color: var(--pink);
}
.header--navigation-items .item-2 {
  color: var(--orange);
}
.header--navigation-items .item-3 {
  color: var(--purple);
}
.header--navigation-items .item-4 {
  color: var(--green);
}
.header--navigation-items .item-5 {
  color: var(--light-blue);
}
/* HAMBURGER MENU DESKTOP*/
.fas {
  display: none;
  color: var(--dark-blue);
  font-size: 23px;
}
.far-bars {
  display: none;
}
.header--navigation label {
  display: none;
}
#hamburger-menu {
  display: none;
}
/* ICONS DESKTOP*/
.fab {
  font-size: 38px;
  margin-top: 5px;
}
.fa-facebook-square {
  color: var(--dark-blue);
}
.fa-instagram {
  color: var(--pink);
  margin-left: 12px;
}
.fa-twitter-square {
  color: var(--light-blue);
  margin-left: 12px;
}

/* BODY DESKTOP*/
body {
  background: #3a7aa8;
  background: -webkit-linear-gradient(bottom, #3a7aa8, #1c3159);
  background: -moz-linear-gradient(bottom, #3a7aa8, #1c3159);
  background: linear-gradient(to top, #3a7aa8, #1c3159);
  display: flex;
  flex-direction: column;
}
.home--body {
  margin: auto;
  max-width: 1440px;
  padding: 0 60px;
}

/* HOMEPAGE CONTENTS */
.home--body h1 {
  letter-spacing: 3px;
}
main,
.left--container,
.right--container,
.info-home--container,
.special--body div {
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main-home--container {
  box-sizing: border-box;
  padding: 40px 60px;
  background-color: var(--light-blue);
  margin-top: var(--margin-top);
}
.main-home--container h1 {
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 900;
}

.info-home--container {
  box-sizing: border-box;
  padding: var(--padding-box);
  background-color: var(--white);
  margin-top: var(--margin-top);
}
.explore--body {
  display: flex;
  margin-top: var(--margin-top);
}
.image {
  height: 434px;
}
.left--container {
  background-color: var(--pink);
  margin-right: 25px;
  padding-top: var(--padding-top-inside);
  display: flex;
  justify-content: space-between;
}
.right--container {
  background-color: var(--orange);
  margin-left: 25px;
  padding-top: var(--padding-top-inside);
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.home--body img {
  width: 100%;
  border-radius: var(--border-radius);
  margin-top: 35px;
  object-fit: cover;
  height: 400px;
}
.special--body {
  display: flex;
  margin-top: var(--margin-top);
}
.special--body .left--container {
  background-color: var(--purple);
}
.special--body .right--container {
  background-color: var(--green);
}
.special--body .right--container img {
  margin-top: 99px;
}

/* FOOTER DESKTOP*/
footer {
  background-color: var(--white);
  margin-top: var(--margin-top);
  padding-bottom: 20px;
}
footer p {
  font-size: 15px;
  line-height: 2;
  text-align: left;
  text-justify: auto;
}
.footer--wraper {
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  margin-top: 25px;
}
.footer--container-1,
.footer--container-2 {
  margin-right: 45px;
}

/* TABLET SCREEN */
@media screen and (max-width: 1080px) {
  .main-home--container h1 {
    font-size: 60px;
  }
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 22px;
  }
  p {
    font-size: 18px;
  }

  .info-home--container {
    padding: var(--padding-box-tablet);
  }
  .main-home--buttons {
    flex-direction: column;
  }
  .main-home--buttons .button-1 {
    margin: 0;
  }
  /* NAVIGATION BAR TABLET*/
  .header--navigation {
    padding: 12px 60px;
  }
  .header--navigation-items {
    flex-direction: column;
    padding: 0;
    display: none;
    margin-top: 10px;
  }
  .header--navigation-items li {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }
  .header--navigation-items a {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 20px;
  }
  .header--navigation-items .item-1:hover {
    background-color: var(--pink);
    color: var(--white);
  }
  .header--navigation-items .item-2:hover {
    background-color: var(--orange);
    color: var(--white);
  }
  .header--navigation-items .item-3:hover {
    background-color: var(--purple);
    color: var(--white);
  }
  .header--navigation-items .item-4:hover {
    background-color: var(--green);
    color: var(--white);
  }
  .header--navigation-items .item-5:hover {
    background-color: var(--light-blue);
    color: var(--white);
  }
  /* HAMBURGER MENU TABLET*/
  .fas {
    /* overide default behavior of fontawsome item */
    display: block !important;
    justify-content: flex-end;
  }
  .header--navigation label {
    display: initial;
  }
  .header--navigation input:checked ~ .header--navigation-items {
    display: block;
  }

  /* IMAGE TABLET*/
  .home--body img {
    height: 300px;
  }
  .image {
    height: 334px;
  }
  .left--container,
  .right--container {
    height: 100%;
  }
  .special--body .right--container img {
    margin-top: 65px;
  }
}

/* PHONE SCREEN */
@media screen and (max-width: 480px) {
  .header--container,
  .home--body {
    padding: 0 25px;
  }
  .breadcrumbs {
    padding: 0 25px;
    margin-top: 15px;
  }
  .breadcrumbs a {
    font-size: 18px;
  }
  .logo h1 {
    font-size: 14px;
  }
  .main-home--container h1 {
    font-size: 41px;
    padding: 0 27px 0 33px;
  }
  h1 {
    font-size: 29px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 21px;
    margin-bottom: 8px;
  }
  p {
    font-size: 16px;
    text-align: left;
    text-justify: auto;
    line-height: 1.8;
  }
  .info-home--container {
    padding: var(--padding-box-mobile);
    margin-top: var(--margin-top-mobile);
  }
  .main-home--container {
    padding: 30px 20px;
    margin-top: var(--margin-top-mobile);
  }
  /* BUTTONS PHONE */
  .main-home--buttons {
    align-items: stretch;
    padding: 0 46px 0 39px;
  }
  .main-home--buttons .button-1 a,
  .main-home--buttons .button-2 a {
    font-size: 16px;
    padding: 10px 10px;
  }
  .main-home--buttons .button-1 {
    width: auto;
  }

  /* NAVIGATION PHONE */
  .header--navigation {
    padding: 8px 25px;
  }
  .header--navigation-items a {
    font-size: 17px;
  }
  /* HAMURGER PHONE*/
  .fas {
    font-size: 20px;
  }
  /* EXPLORE & SPECIAL BODY PHONE */
  .explore--body,
  .special--body {
    flex-direction: column;
    margin-top: var(--margin-top-mobile);
  }
  .right--container {
    margin-left: 0;
    margin-top: var(--margin-top-mobile);
    padding-top: 25px;
  }
  .left--container {
    margin-right: 0;
    padding-top: 25px;
  }
  /* IMAGE PHONE*/
  .header--image-wraper {
    height: 30px;
    margin-right: 10px;
  }
  .image {
    height: 265px;
  }
  .home--body img {
    height: 244px;
    margin-top: 25px;
  }
  .special--body .right--container img {
    margin-top: 35px;
  }
  /* FOOTER PHONE */
  footer {
    margin-top: 50px;
    height: 620px;
  }
  .footer--wraper {
    flex-direction: column;
    padding: 0 35px;
  }
  .footer--container-1,
  .footer--container-2 {
    margin-bottom: 30px;
    margin-right: 0;
  }
  .footer--container p,
  .footer--container-2 p,
  .footer--container-1 p {
    font-size: 14px;
  }
}
