.visit--wraper h2 {
  margin: 0;
  color: var(--white);
  margin-bottom: var(--padding-top-inside);
}
.visit--wraper p {
  color: var(--white);
  text-align: left;
  text-justify: auto;
  margin-bottom: 5px;
}
.main-visit--container,
.admission--wraper,
.hours--body,
.location--body,
.food--body,
.shop--body {
  border-radius: var(--border-radius);
  padding: var(--padding-box);
}

.main-visit--container {
  margin-top: var(--margin-top);
  background-image: url("../Images/scott-webb-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
}
.main-visit--container h1 {
  font-size: 70px;
}
.main-visit--container h2 {
  display: flex;
  justify-content: center;
  font-size: 50px;
  margin-top: 20px;
}
.museum-info--wraper {
  display: flex;
  margin-top: var(--margin-top);
}
.hours--body {
  background-color: var(--orange);
  flex: 1;
  margin-right: 25px;
}
.hours--body p {
  line-height: 70px;
}
.location--body {
  background-color: var(--pink);
  flex: 1;
  margin-left: 25px;
}
.admission--wraper {
  background-color: var(--dark-blue);
  margin-top: var(--margin-top);
}
.admission--wraper p{
  margin-bottom: 15px;
}
.food--body {
  background-color: var(--green);
  flex: 1;
  margin-right: 25px;
}
.shop--body {
  background-color: var(--purple);
  flex: 1;
  margin-left: 25px;
}
.access--body {
  margin-top: var(--padding-top-inside);
}
.map-responsive {
  margin-top: var(--padding-top-inside);
  overflow: hidden;
  padding-bottom: 80%;
  position: relative;
  height: 0;
  border-radius: 6px;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* TABLET SCREEN */
@media screen and (max-width: 1080px) {
  .admission--wraper,
  .hours--body,
  .location--body,
  .food--body,
  .shop--body {
    padding: var(--padding-box-tablet);
  }
  .main-visit--container{
    padding: 50px 25px 20px 25px;
  }

  /* TEXT TABLET */
  .admission--wraper h2,
  .museum-info--wraper h2{
    font-size: 32px;
  }
  .hours--body p {
    line-height: 50px;
  }
}

/* PHONE SCREEN */
@media screen and (max-width: 590px) {
  .admission--wraper,
  .museum-info--wraper,
  .main-visit--container {
    margin-top: var(--margin-top-mobile);
  }
  .museum-info--wraper{
    flex-direction: column;
  }
  .hours--body,
  .location--body,
  .food--body,
  .shop--body,
  .admission--wraper,
  .access--wraper {
    padding: 15px 30px;
  }
  .hours--body, .food--body {
    margin-right: 0px;
  }
  .main-visit--container {
    height: 150px;
  }
  .shop--body, .location--body{
    margin-left: 0;
    margin-top: var(--margin-top-mobile);
  }
  .main-visit--container{
    border-radius: var(--border-radius);
    padding: 40px 20px 10px 20px;
  }
  /* TEXT PHONE */
  .main-visit--container h1 {
    font-size: 52px;
  }
  .main-visit--container h2 {
    font-size: 28px;
  }
  .admission--wraper h2,
  .museum-info--wraper h2 {
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  .admission--wraper p,
  .museum-info--wraper p {
    font-size: 16px;
    line-height: 1.7;
  }
  .hours--body p {
    line-height: 35px;
  }

  /* MAPS PHONE */
  .map-responsive{
    margin-bottom: 15px;
  }
}
